@page "/counter"

<Title Level="2">NG电芯替换</Title>
<Divider />
<Search Placeholder="请输入托盘条码" Size="@InputSize.Large" EnterButton="@("Search")" @bind-Value="@barcode" OnSearch="OnSearch" />
@if(barcode.Length > 0)
{
    <Table TItem="BarcodeInfoDto" DataSource="@barcodeInfos" OnRowClick="OnRowClick">
        <PropertyColumn Property="c=>c.ItemPosition">@context.ItemPosition</PropertyColumn>
        <PropertyColumn Property="c=>c.Itemcode">@context.Itemcode</PropertyColumn>
        <PropertyColumn Property="c=>c.NgCode">
            <Tag Color="read">@context.NgCode</Tag>
        </PropertyColumn>
    </Table>
}


@using static NTI_NG_MAUI.Models.Dto
@inject IMessageService message

@code {
    private string barcode { get; set; }
    private List<BarcodeInfoDto> barcodeInfos = new();
    private bool loading;


    public async Task OnSearch()
    {
        await message.Loading($"正在获取 {barcode} 的NG电芯数据", 2);
    }

    private async Task OnEnter(KeyboardEventArgs e)
    {
        Console.WriteLine("Enter pressed");
        loading = true;
        await Task.Delay(3000);
        loading = false;
    }

    private void OnRowClick()
    {
        
    }
}

